body{
  background: #FFF;
}


#volume-slider{
  align-items: center;
  align : left;
  display    : flex;
  margin     : 0em auto;
  padding    : 5px 0;
  width      : 100%;

}


.volume-icon{
  cursor          : pointer;
  height          : 60px;
  transform       : rotate(-0deg);
  transform-origin: center left;
  width           : 60px;
  padding-top             : 25px;

  .volume-icon-bg{
    fill      : #cbc8ce;
    transition: fill 300ms;
  }

  &:hover .volume-icon-bg{
    fill: #b6aebf;
  }

}


#circle-mask-shape{
  transform       : scale(0);
  transform-origin: center center;
}


.volume-track{
  background-color: #e1dee5;
  border-radius   : 0px;
  flex            : 1;
  height          : 0px;
  margin-left     : 5px;
  position        : relative;
}


.volume-indicator{
  background-color: #FFF;
  border-radius   : 50%;
  height          : 12px;
  position        : absolute;
  top             : -4px;
  transition      : visibility 100ms, opacity 100ms;
  width           : 12px;
}

.page{
    color : #FFF;
    font-family: "Verdana", Times, serif;
    text-decoration: none;

}
.page:hover {
  color: #E27663;
}
.selected{
    color: #E27663;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    text-decoration: none;
}
.navBar{
border-radius: 0px 0px 5px 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#222222;
}
.meDiv{
  background-color: #F9F9FF;
  height: 30em;

}
.meDescriptionBox{

}
.meContainer{
    background-color: #123;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
