body{
  background: #FFF;]
  font-family: "Poppins", sans-serif;

}


#volume-slider{
  align-items: center;
  align : left;
  display    : flex;
  padding    : 5px 0;
  width      : 100%;

}


.volume-icon{
  cursor          : pointer;
  height          : 60px;
  transform       : rotate(-0deg);
  transform-origin: center left;
  width           : 60px;
  padding-top             : 25px;

  .volume-icon-bg{
    fill      : #cbc8ce;
    transition: fill 300ms;
  }

  &:hover .volume-icon-bg{
    fill: #b6aebf;
  }

}


#circle-mask-shape{
  transform       : scale(0);
  transform-origin: center center;
}


.volume-track{
  background-color: #e1dee5;
  border-radius   : 0px;
  flex            : 1;
  height          : 0px;
  margin-left     : 5px;
  position        : relative;
}


.volume-indicator{
  background-color: #FFF;
  border-radius   : 50%;
  height          : 12px;
  position        : absolute;
  top             : -4px;
  transition      : visibility 100ms, opacity 100ms;
  width           : 12px;
}

.page{
    color : #FFF;
    font-family: "Verdana", Times, serif;
    text-decoration: none;

}
.page:hover {
  color: #E27663;
}
.selected{
    color: #E27663;
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    text-decoration: none;
}
.navBar{
border-radius: 0px 0px 5px 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#222222;
}
.meDiv{
  background-color: #F9F9FF;
  height: 30em;

}
.meDescriptionBox{

}
.meContainer{
    background-color: #123;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title{
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: bold;
    font-size: 2.4em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align:center;
}

.preTitle{
    font-family: "Poppins", sans-serif;
    color: #222222;
    font-weight: normal;
    font-size: 36px;
    font-size: 15px;
    line-height: 0em;
    text-align:center;
}
.services{
  float:left;
  background-color: #FFF;
  /*border: 1px solid;*/
  width: 30%;
  margin: 1.46%;
  height: 500px;
}
.services:hover > p{
  color:#799FFE !important;
}
.services > img{
  width:40px;
  margin: 5px auto;
  display: block;
}
.services > .change{
    display: none;
}
.services:hover > .change{
    display: block;
}
.services:hover > .normal{
    display: none;
}
.services > .normal{
  display: block;
}

.normal a{
  color: #FFFFFF;
  text-decoration: none;
}


.easteregg{
  font-size: 14px;
  color: white;
  margin: 0px 0px -0px 7px;
  padding-top: 0px;
  /*color: #212121; /*To hide*/
}
.eastereggdiv{
  margin-top: -30px;
}
.easteregg:nth-of-type(1){
  padding-top: 10px;
}
